h1 a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30pt;
    text-align: center;
}

body {
    padding-left: 0px;
}

.page-header {
    background-color: #f0bae2;
    background: url('https://image.freepik.com/free-photo/brown-marble-texture-background-abstract-marble-texture_34936-402.jpg');
    margin-top: 0;
    padding: 40px 40px 40px 60px;
}


.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-family: 'Montserrat', sans-serif;
    font-size: 60pt;
    letter-spacing: 3px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.page-tabs h1, .page-tabs h1 a, .page-tabs h1 a:visited, .page-tabs h1 a:active {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15pt;
    text-align: center;
    color: #555555;
}

.content { 
    margin-left: 40px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50pt;
    text-align: center;
    
}

h2 {
    font-family: 'Nanum Myeongjo', serif;
}

.col h2 {
    text-align: center;
}

.col-8 h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 40pt;
    text-align: left;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    text-align: justify;
}


.date {
    color: #828282;
    font-size: large;
    font-family: 'Forum', cursive;
    text-align: right;
}

.date p {
    color: #828282;
    font-size: large;
    font-family: 'Forum', cursive;
}

.save {
    float: right;
}

.post-form textarea, .post-form input, .cv-form textarea, .cv-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #555555;
    float: right; 
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.cv {
    margin-bottom: 70px;
}

.cv_name h1 {
    font-size: 50pt;
    text-align: center;
    color: #000000;
}

.cv_title, .cv_text p {
    text-align: center;
}

.cv_title h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30pt;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.cv_name h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 60px;
    text-align: center;
}

.cv_text p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
}

.new_section h3 a, .new_section h3 {
    font-family: 'Playfair Display', serif;
    font-size: 30pt;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: darkgrey;
    
}
